@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.app {
  padding: 10px;
  height: 100%;
  border: 2px red solid;
  margin: 0 auto;
}
