@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movieItem {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 320px;
  border: 2px colors.$GRAYE solid;
  border-radius: 10px;
  margin-top: 10px;
  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: colors.$BIG_TITLE;
  }
  svg {
    margin-top: 15px;
    width: 25px;
  }
  .poster {
    margin: 10px 8px 8px;
    width: 100px;
    height: 120px;
    object-fit: scale-down;
  }
  .titleWraper {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .tag {
    display: flex;
    width: 50px;
    height: 20px;
    align-items: center;
    border-radius: 5px;
    color: colors.$WHITE;
    background-color: colors.$RED;
  }
  .tagName {
    line-height: 20px;
    margin: 0 auto;
  }
  .year {
    margin-top: 10px;
  }
}
